.div-animacja {
  font-size: 2em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  padding: 1em;
  margin: 0.4em;
  color: rgb(71, 120, 255);
  background-color: whitesmoke;
  border: 2px solid black;
  font-weight: 700;
}
