.nav-container_under-nav-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container_under-nav-section::before {
  background: url(img2.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  filter: opacity(0.25);
  background-position: 40% 50%;
}
.nav-container_under-nav-div {
  isolation: isolate;
  text-align: center;
  padding: 5em 0;
}
.nav-container_under-nav-div-h1 {
  font-size: 3.5em;
  margin: 0;
}
.nav-container_under-nav-div-p {
  font-weight: 700;
}
