.kontakt-container {
  margin-top: var(--space-between-sections);
}
footer {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
footer h3 {
  margin-bottom: var(--space-between-sections);
}
footer > h1 {
  margin-bottom: 3em;
}
.footer-div {
  background-color: rgb(91, 165, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  height: 35vh;
}

.footer-div-info > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-div-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
}
.footer-div-info > img {
  width: 120px;
}

.footer-ul-redirection,
.footer-company-info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  border-right: 3px solid black;
}

.footer-ul-redirection {
  width: 70%;
  font-weight: 700;
}

.footer-company-span {
  display: block;
  font-weight: 900;
}
.footer-company-text {
  margin: 0 1em;
  float: left;
}
.footer-ul-redirection-li a {
  position: relative;
}
.footer-ul-redirection-li a:hover {
  cursor: pointer;
}
.footer-ul-redirection-li a::after {
  position: absolute;
  border-bottom: 2px solid black;
  inset: 0;
  content: "";
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: left;
}
.footer-ul-redirection-li a:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 570px) {
  .footer-div {
    display: grid;
    height: auto;
  }
  .footer-div-info {
    width: 100%;
    margin: 3em 0;
  }
  .footer-company-info-ul {
    max-width: 70%;
  }
}
