.nasze-uslugi-container {
  margin-top: var(--space-between-sections);
}
.nasze-uslugi_div {
  text-align: center;
}

.nasze-uslugi-mini-div-karty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
