@import "index.css";

div {
  font-family: var(--font-family);
}
body {
  padding: 0;
  margin: 0;
}
.app-container {
  background: linear-gradient(
    93deg,
    rgba(93, 164, 255, 1) 0%,
    rgb(240, 240, 240) 100%
  );
  position: relative;
}

.bg-image-under-o-nas,
.bg-image-under-uslugi,
.bg-image-under-doswiadczenie {
  margin-top: var(--space-between-sections);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  background-position: 50% 0;
}
.bg-image-under-o-nas {
  background-image: url(../imgfirst.png);
}
.bg-image-under-uslugi {
  background-image: url(../imgthird.png);
}
.bg-image-under-doswiadczenie {
  background-image: url(../imgfourth.png);
}
@media screen and (min-width: 1024px) {
  .bg-image-under-o-nas,
  .bg-image-under-uslugi,
  .bg-image-under-doswiadczenie {
    background-attachment: fixed;
  }
}
