@import "index.css";

div {
  font-family: var(--font-family);
}
body {
  padding: 0;
  margin: 0;
}
.app-container {
  background: linear-gradient(
    93deg,
    rgba(93, 164, 255, 1) 0%,
    rgb(240, 240, 240) 100%
  );
}
